.tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 10000;

  :global {
    .at-tab-bar--fixed,
    .at-tab-bar {
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.06);

      height: 96px !important;
      align-items: center;

      &__item {
        padding: 0 16px;
        height: auto;

        &--active {
          .at-tab-bar__title {
            color: #f09c20;
          }
        }

        // &:nth-child(2) {
        // padding: 0;

        .at-tab-bar__icon {
          margin-bottom: 0;

          .at-icon-add {
            font-size: 60px;
            color: #fff !important;
            font-weight: 400;
            box-sizing: content-box;
            padding: 6px 40px;
            border-radius: 28px;
            background-color: #f09c20;
          }
        }
        // }
      }

      &__icon {
        font-size: 48px;
        margin-bottom: 8px;
      }

      &__title {
        font-size: 24px;
      }
    }
  }
}
